.container{
    align-content:center;
    margin-left:400px;
    border:solid 1px black;
    width:350px;
}
.margin{
    margin:5px;
}
.fileData {
  align-content: center;
  margin-left: 430px;
  margin-top: 100px;
  background-color: aliceblue;
  width: 350px;
}
